<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Address Book</title>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main class="cyan lighten-5">
                <!-- New Address Card -->
                <v-card width="350" class="mx-auto mt-8">
                    <v-card-title>
                        <div class="mx-auto">
                            Add new address
                            <v-icon size="150" class="red--text">
                                mdi-account-box
                            </v-icon>
                        </div>
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                            label="Name"
                            v-model="inputName"
                        ></v-text-field>
                        <v-text-field
                            label="Address"
                            v-model="inputAddress"
                        ></v-text-field>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn v-on:click="recordAddress" class="mx-auto mb-6">
                            Add Address
                        </v-btn>
                    </v-card-actions>
                </v-card>

                <!-- Display the Addresses -->
                <div style="width: 200px;" class="d-flex mx-auto">
                    <v-expansion-panels accordion class="mt-6">
                        <v-expansion-panel
                        v-for="(addressObj,i) in addressList"
                        :key="i"
                        >
                            <v-expansion-panel-header class="text-h6 cyan--text text--darken-4">{{ addressObj.name }}</v-expansion-panel-header>
                            <v-expansion-panel-content>
                                {{ addressObj.address }}
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>

            </v-main>
        </v-app>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Vuetify script -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>
</html>

<!-- 

<div id="app">
    <h1>Vue Address Book</h1>
    <input v-model="inputName" placeholder="Enter Name"><br>
    <input v-model="inputAddress" placeholder="Enter Address"><br>
    
    <button v-on:click="recordAddress()">Record Address</button>

    <div v-for="address in addressList">
        <h3>{{ address.name }}</h3>
        {{ address.address }}
    </div>
</div>  

-->