<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <title>Component Mad Libs</title>
</head>
<body>
    <div id="app" style="font-family: 'Coming soon', cursive;">
        <h1>Component Mad Libs</h1>
        <div v-if="page == 'inputs'" id="inputs-page">
            <h2>Enter words to get a story</h2>
            Name: <input v-model="nameInput"><br>
            Birthday: <input v-model="birthdayInput"><br>
            Favorite Food: <input v-model="favoriteFoodInput"><br>
            Favorite Number: <input type="number" v-model="favoriteNumberInput"><br>
            Favorite Movie: <input v-model="favoriteMovieInput"><br>
            Favorite Shopping Item <input v-model="favoriteShoppingItemInput"><br>
            <button v-on:click="page = 'story'">Get Story!</button>

        </div>

        <div v-else-if="page == 'story'" id="display-page">
            <h2>Pessimistic Mad libs</h2>
            <pessimistic-mad-lib
                v-bind:name="nameInput"
                v-bind:birthday="birthdayInput"
                v-bind:favorite-food="favoriteFoodInput"
                v-bind:favorite-number="favoriteNumberInput"
                v-bind:favorite-movie="favoriteMovieInput"
                v-bind:favorite-shopping-item="favoriteShoppingItemInput">
            </pessimistic-mad-lib>

            <h2>Optimistic Mad libs</h2>
            <optimistic-mad-lib
            v-bind:name="nameInput"
            v-bind:birthday="birthdayInput"
            v-bind:favorite-food="favoriteFoodInput"
            v-bind:favorite-number="favoriteNumberInput"
            v-bind:favorite-movie="favoriteMovieInput"
            v-bind:favorite-shopping-item="favoriteShoppingItemInput">
            </optimistic-mad-lib>
        </div>

        <!-- Insert your own mad-lib component here -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>

<!-- 

Mad Lib Instructions

1. Add a second pessimistic-mad-lib element to your html, and fill in the props with your own values

2. Create a new mad lib component (create a new story) that contains at least 4 string props and 1 number prop

3. Add your-new-mad-lib element to your html and fill in the props with values

4. Create inputs and have the webpage user enter their own mad-lib words
    - Model each input value using your Vue Instance's data variables
    - Add a button that, when clicked, shows a mad-lib element using their words
    - (You should put the story on a 'page' separate from the inputs & button)

===========================================================================================================

If you're finished with the above:

5. Create a reset button that lets the user enter new values

6. Let the user select which story they want to provide words for
    - (this may require a different number of inputs, depending on the story)

 -->